.navigator{
  text-align: right;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  list-style-type: none;
  display: fixed;
  justify-content: space-between;
  align-items: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: none;
}
.navigator ul{
  display: inline-flex;
  list-style: none;
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
}
.navigator ul li{
font-family: 'Libre Baskerville', serif;
width:252px;
margin: 1px;
padding: 30px;
text-align: center;
background-color: #15548e;
opacity: .8;
text-decoration:none;
}
align center a{
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
}
.active, .navigator ul li:hover{
  background-color: #1081ea;
  border-radius: 3px;
  text-decoration: none;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}